@import "tailwindcss";

@theme {
  --font-card: "TienLen", sans-serif;
}

@font-face {
  font-family: "TienLen";
  src: url("./fonts/CARDfont.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent
}

html,
body,
#root {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  overscroll-behavior: none;
  background-color: #1a1a1a;
}

input,
textarea {
  user-select: text;
}

img {
  pointer-events: none;
  /* optional: tránh drag + click ảnh */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(24, 24, 27, 0.5); /* zinc-900 with opacity */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(161, 161, 170, 0.3); /* zinc-400 with opacity */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(239, 68, 68, 0.5); /* red-500 with opacity */
}

